doctype html 
html(lang="en")
    head 
        title #{pageTitle} | Youtube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        
    body
        header
            ul 
                li 
                    a(href="/videos/upload") Upload Video
                li 
                    a(href="/") Home
                li 
                    a(href="/search") Search    

                //- if !req.session.loggedIn
                li
                    a(href="/join")  Join
                li
                    a(href="/login")  Login        
        main
            h1=pageTitle      
            block content
        include partials/footer.pug