extends base.pug

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(placeholder="Username",name="username", type="text", required)
        input(placeholder="Password",name="password",required,type="password")
        input(type="submit", value="Login")
        br
        a(href="/user/github/start") Continue with Github &rarr;
    div 
        span Don't have an account? 
        a(href="/join") Create one now &rarr;
